/* NAV */
.nav-wrapper {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 50px;
    font-style: italic;
    border-bottom: 1px solid var(--neutrual-color);
    grid-row: 1;
    z-index: 15;
    position: relative;
}

.nav-title > a {
    cursor: pointer;
    font-size: 3.5rem;
    color: var(--text-color);
    text-decoration: none;
}

.nav-title:hover {
    transform: scale(0.97);
    text-shadow: 1px 1px 5px var(--text-color);
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-size: 3.5rem;
    list-style: none;
    text-align: center;
}

ul > a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

ul > a:hover {
    transform: scale(0.97);
    text-shadow: 1px 1px 5px var(--text-color);
}

/* FOOTER */

.footer-wrapper {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid var(--neutrual-color);
    grid-row: 3;
    z-index: 15;
}

.footer-title, .footer-copyright {
    color: var(--text-color);
    font-size: 3.0rem;
    font-style: italic;
    cursor: pointer;
}

.footer-copyright {
    font-size: 1.8rem;
}

/* MAIN PAGE */

.main-wrapper {
    width: 100%;
    min-height: 800px;
    background-color: black;
    grid-row: 2;
    position: relative;
}

.main-wrapper > img {
    position: absolute;
    bottom: 0px;
    left: -180px;
    width: 1400px;
    z-index: 10;
}


.main-text-wrapper {
    position: absolute;
    text-align: center;
    color: var(--neutrual-color);
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    height: 500px;
    z-index: 11;
    font-size: 3.5rem;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 4.5rem;
    font-weight: 600;
}

.brand > span {
    color: var(--text-color);
    font-size: 5.0rem;
    font-style: italic;
    text-shadow: 1px 1px 5px var(--text-color);
}

.brand {
    margin-top: -10px;
    margin-bottom: 20px;
}

.subtitle {
    width: 70%;
    font-size: 2.8rem;
}

.text-btn {
    border: 1px solid var(--primary-color);
    padding: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    background-color: var(--neutrual-color);
    color: var(--primary-color);
    margin-top: 20px;
}

.text-btn:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    transition: 0.2s all ease-in-out;
}

/* ABOUT PAGE */

.our-story-wrapper {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    border-bottom: 1px solid var(--text-color);
}

.our-story-wrapper > img {
    width: 600px;
    border-radius: 10px;
}

.story-text {
    color: var(--neutrual-color);
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.text-header {
    font-size: 4.5rem;
    font-weight: 600;
    position: relative;
    color: var(--text-color);
}

.text-header::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    top: 105%;
    border-radius: 2px;
}

.profile-info-wrapper {
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}


.profile-info-block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

.profile-info-block {
    width: 600px;
    height: 600px;
}

.block-hero {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
    z-index: 5;
    transition: 0.1s all ease-in-out;
}

.block-hero::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    transition: 0.2s all ease-in-out;
}

.block-hero:hover::before {
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
}

.block-hero.leah {
    background: url('../../public/leah_2.JPEG');
}

.block-hero.artem {
    background: url('../../public/artem.jpg');
}


/* ABOUT PAGE */

/* TEMPORARY PAGE */

.temp-placeholder {
    font-size: 3.5rem;
    color: var(--text-color);
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

/* TEMPORARY PAGE */

/* STORE PAGE */

.store-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
    flex-wrap: wrap;
}

.store-product {
    color: var(--neutrual-color);
    font-size: 3.5rem;
    border: 1px solid var(--neutrual-color);
    min-width: 600px;
    height: 520px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color:rgba(	224, 222, 217, 0.4);
}

.pr-name {
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.6rem;
    font-style: italic ;
    margin-top: 10px;
}

.pr-order {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 200px;
    background-color: var(--text-color);
    text-align: center;
}

.pr-order > a {
    color: var(--primary-color);
    font-size: 2.3rem;
    text-decoration: none;
}

.pr-order:hover {
    box-shadow: inset -1px -1px 5px var(--primary-color);
}

/* STORE PAGE */