* {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --primary-color: #131313;
  --text-color: #fbf1c0;
  --neutrual-color: #e0ded9;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}